In [1]:
import requests
import pandas as pd
import json  
from pandas.io.json import json_normalize  

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [45]:
headers = {
    'Api-Key': '89d1e5b76aa4413393430963acbbd2b1',
}

response = requests.get('https://api.omnivore.io/1.0/locations/T57RKRRc/', headers=headers)
s = response.text
j = json.loads(s)

In [46]:
link = j['_links']['tickets']['href']
link

'https://api.omnivore.io/1.0/locations/T57RKRRc/tickets/'

In [38]:
headers = {
    'Api-Key': '89d1e5b76aa4413393430963acbbd2b1',
}

response = requests.get(link, headers=headers)

In [39]:
s = response.text
j = json.loads(s)
# print(j)

In [40]:
df = json_normalize(j['_embedded']['tickets']) 
# df.columns

In [41]:
item_name = []
item_category = []
for x in df['_embedded.items']:
    x = str(x)
    x = x.replace("\'","\"")
    x = x.replace("None", "null")
    x = x.replace("True", "true")
    x = x.replace("False", "false")
    x = x[1 : : ]
    x = x[:-1:]
    if len(x)>0:
        y = json.loads(x)
        item_name.append(y['_embedded']['menu_item']['name'])
        item_category.append(y['_embedded']['menu_item']['_embedded']['menu_categories'][0]['name'])
    else:
        item_name.append('None')
        item_category.append('None')

In [42]:
new_df = pd.DataFrame()
new_df['Ticket_ID'] = df['id']
new_df['Total'] = df['totals.total']
new_df['Subtotal'] = df['totals.sub_total']
new_df['Tax'] = df['totals.tax']
new_df['Tips'] = df['totals.tips']
new_df['Opened At'] = df['opened_at']
new_df['Closed At'] = df['closed_at']
new_df['Order Type'] = df['_embedded.order_type.name']
new_df['Item Name'] = item_name
new_df['Category Name'] = item_category
new_df['Closed At'] = new_df['Closed At'].fillna("None")
new_df

,Ticket_ID,Total,Subtotal,Tax,Tips,Opened At,Closed At,Order Type,Item Name,Category Name
0,277526,932,400,32,0,1593188321,None,Order Ahead,Taco appetizer #9,Appetizer
1,277509,500,0,0,0,1593183783,None,Order Ahead,None,None
2,277470,500,0,0,0,1593120617,None,Dine In,None,None
3,277460,392,-100,-8,0,1593117720,None,Delivery,Taco appetizer #9,Appetizer
4,277459,932,400,32,0,1593117705,None,Carry Out,Taco appetizer #9,Appetizer
5,277153,932,400,32,0,1592990848,None,Dine In,Taco appetizer #9,Appetizer
6,274858,932,400,32,0,1592552428,None,Delivery,Taco appetizer #9,Appetizer
7,274857,932,400,32,0,1592552412,None,Dine In,Taco appetizer #9,Appetizer
8,274856,932,400,32,0,1592552381,None,Delivery,Taco appetizer #9,Appetizer
9,274854,932,400,32,0,1592551987,None,Order Ahead,Taco appetizer #9,Appetizer
10,274836,932,400,32,0,1592545421,None,Carry Out,Taco appetizer #9,Appetizer
11,274835,932,400,32,0,1592545412,None,Dine In,Taco appetizer #9,Appetizer
12,274834,932,400,32,0,1592545158,None,Dine In,Taco appetizer #9,Appetizer
13,274833,932,400,32,0,1592542744,None,Order Ahead,Taco appetizer #9,Appetizer
14,274832,932,400,32,0,1592542675,None,Carry Out,Taco appetizer #9,Appetizer
15,230716,932,400,32,0,1583158639,None,Dine In,Taco appetizer #9,Appetizer
16,230715,932,400,32,0,1583158602,None,Carry Out,Taco appetizer #9,Appetizer
17,230714,932,400,32,0,1583158590,None,Dine In,Taco appetizer #9,Appetizer
18,230701,500,0,0,0,1583118882,None,Order Ahead,None,None
19,230700,500,0,0,0,1583118878,None,Carry Out,None,None
20,230476,500,0,0,0,1582619251,None,Carry Out,None,None
21,229763,932,400,32,0,1582277704,None,Order Ahead,Taco appetizer #9,Appetizer
22,229762,500,0,0,0,1582274275,None,Order Ahead,None,None
23,229761,500,0,0,0,1582269223,None,Dine In,None,None
24,229760,500,0,0,0,1582266980,None,Carry Out,None,None
25,229628,500,0,0,0,1582106068,None,Order Ahead,None,None
26,229456,932,400,32,0,1581948336,None,Carry Out,Taco appetizer #9,Appetizer
27,229455,932,400,32,0,1581948288,None,Dine In,Taco appetizer #9,Appetizer
28,229454,932,400,32,0,1581948213,None,Carry Out,Taco appetizer #9,Appetizer
29,229453,500,0,0,0,1581948172,None,Delivery,None,None
30,229452,500,0,0,0,1581948162,None,Carry Out,None,None
31,229450,932,400,32,0,1581947577,None,Delivery,Taco appetizer #9,Appetizer
32,229449,932,400,32,0,1581947379,None,Delivery,Taco appetizer #9,Appetizer
33,2,734,449,35,200,1530732237,None,Carry Out,Pizza,Entree
34,277457,932,400,32,103,1593115792,1.59312e+09,Delivery,Taco appetizer #9,Appetizer
35,277456,932,400,32,168,1593115769,1.59312e+09,Dine In,Taco appetizer #9,Appetizer
36,230713,932,400,32,93,1583148107,1.58315e+09,Order Ahead,Taco appetizer #9,Appetizer
37,230711,932,400,32,93,1583138960,1.58314e+09,Carry Out,Taco appetizer #9,Appetizer
38,230702,932,400,32,158,1583125075,1.58313e+09,Dine In,Taco appetizer #9,Appetizer
39,230699,932,400,32,112,1583118698,1.58312e+09,Order Ahead,Taco appetizer #9,Appetizer
40,230683,932,400,32,112,1582885663,1.58289e+09,Delivery,Taco appetizer #9,Appetizer
41,230682,932,400,32,130,1582885093,1.58289e+09,Carry Out,Taco appetizer #9,Appetizer
42,230475,932,400,32,149,1582619023,1.58262e+09,Carry Out,Taco appetizer #9,Appetizer
43,229673,932,400,32,103,1582199066,1.5822e+09,Order Ahead,Taco appetizer #9,Appetizer
44,229672,932,400,32,130,1582198112,1.5822e+09,Delivery,Taco appetizer #9,Appetizer
45,229671,932,400,32,168,1582198015,1.5822e+09,Delivery,Taco appetizer #9,Appetizer
46,229547,932,400,32,103,1582023883,1.58202e+09,Carry Out,Taco appetizer #9,Appetizer
47,229546,932,400,32,121,1582023828,1.58202e+09,Carry Out,Taco appetizer #9,Appetizer
48,229545,932,400,32,93,1582023801,1.58202e+09,Order Ahead,Taco appetizer #9,Appetizer
49,229544,932,400,32,121,1582023568,1.58202e+09,Delivery,Taco appetizer #9,Appetizer

In [43]:
new_df.set_index("Ticket_ID", inplace = True)

In [49]:
new_df.to_csv("data.csv")